<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.kh.ecolog.mileage.model.dao.MileageMapper">

	<!-- 마일리지 신청글 작성 -->
	<insert id="saveMileage"
			parameterType="MileageDTO">
		INSERT 
		  INTO 
			   TB_MILEAGE
			   (
			   USER_ID
			 , MILEAGE_TITLE
			 , MILEAGE_CONTENT
			 , MILEAGE_CATEGORY
			 , MILEAGE_IMG
			   )
		VALUES 
		       (
			   #{userId}
			 , #{mileageTitle}
			 , #{mileageContent}
			 , #{mileageCategory}
			 , #{mileageImg}
			   )
	</insert>

	
	<!-- 마일리지 사용처 조회 -->
	<select id="findAllStore"
			resultType="MileageStoreDTO">
		SELECT
			  MILEAGE_STORE_SEQ 
			, MILEAGE_STORE_CATEGORY
			, MILEAGE_STORE_NAME
			, MILEAGE_STORE_PRICE
		FROM
			TB_MILEAGE_STORE
		ORDER BY
			mileageStoreSeq ASC
	</select>
	
	
	<!-- 마일리지 사용 -->


</mapper>